*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: var(--bleu-clair);
}

h1{
    font-family: var(--font-serif);
    font-size:var(--heading-1);
}

h2{
    font-family: var(--font-serif);
    font-size: var(--heading-2);
}

h3{
    font-family: var(--font-serif-2);
    font-size: var(--heading-3);
    
}

.chapo {
    font-family: var(--font-chapo);
    font-style: italic;
    font-size: var(--chapô);
}

p {
    font-family: var(--font-body);
    font-size: var(--body-1);
}

.list__unstyled{
    list-style: none;
}

