.image{
    display:flex;
    flex-direction: column;
}

.image__portrait{
    width: 50%;
    align-self: center;
}

.image__portrait--legende{
    font-family: var(--font-legende);
    font-style: italic;
    font-size: var(--small-texte);
    align-self: center;
    text-align: center;
    margin:3% 25% 0%;
}

.image__paysage--legende{
    font-family: var(--font-legende);
    font-style: italic;
    font-size: var(--small-texte);
    align-self: center;
    text-align: center;
    margin-top:3%;
}