.tweet{
    background-color: var(--rose-clair);
    margin: 0% 10%;
}

.tweet__title{
    font-family: var(--font-serif);
    font-size: var(--heading-2);
    text-align: center;
    padding: 6% 5% 0% 5%;
}

.tweet__illustration{
    width: 248px;
    justify-self: center;
    margin-left: 8.5%;
}

.tweet__introduction{

    padding: 0% 1% 0% 2%;
}

.tweet__suite{
    text-align: center;
    padding-bottom: 4%;
}